body {
  background: url(http://www.clker.com/cliparts/3/2/b/b/1411867454605188369pink%20and%20yellow-gradient-abstract-wallpaper.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: stretch;
}
