/img {
  width:100px;
  height:100px;
  background: url(http://goo.gl/vyAs27) no-repeat scroll 0 0;
}
body {
  background: url(http://www.clker.com/cliparts/3/2/b/b/1411867454605188369pink%20and%20yellow-gradient-abstract-wallpaper.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: stretch;
}
input.search {
    background-image: url("placeholder.gif");
    background-repeat: no-repeat;
}
input.search:focus {
    background-image: none;
}
